RewriteEngine On

# Serve schema files from /schemas/... when requested at /muddler/v1/... or /bedoc/v1/...
RewriteRule ^muddler/v1/(.*)$ schemas/muddler/v1/$1 [L]
RewriteRule ^bedoc/v1/(.*)$ schemas/bedoc/v1/$1 [L]
